[2018-03-27 12:11] XVilka opened #1 "Radare2 support"
Could you please kindly consider the option of supporting radare2 as an instance for this platform? Because - why not? See issue https://github.com/radare/radare2/issues/7410 for the reference. Feel free to open issues in radare2 repo if you need to fix something for your plugin to work.

[2018-03-27 15:04] NeatMonster commented on #1
This is definitely something we have in mind, but in the long term. We would like the plug-in to be a bridge between different RE software (IDA Pro, Binary Ninja, radare2), but we're currently focusing on IDA Pro integration because it is the one we're most accustomed too (and probably the most popular).

We're currently iterating very quickly in term of internal design, so would also like to wait

[2018-03-27 15:08] zadlg commented on #1
I could help on that. I know (a little bit) how radare2 works

[2018-03-27 15:18] NeatMonster commented on #1
@zadlg We're always looking for contributions! But sadly I don't think the project is nearly close to a state where we can start implementing cross-software synchronization. If would like to help with the short-term todo list though, feel free to contact us on IRC (or Jabber ;)) for more information.

[2018-03-28 02:24] Maximus- opened #2 "Bottom Corner Menu doesn't display on IDA Mac"
On IDA 7 for Mac, the bottom corner menu doesn't render. I can right click on it just fine to use it for now.

Images attached
<img width="352" alt="screen shot 2018-03-27 at 10 22 53 pm" src="https://user-images.githubusercontent.com/628527/38005138-83dd1600-320d-11e8-97cf-3670b1ed0ad8.png">

Right click:
<img width="361" alt="screen shot 2018-03-27 at 10 25 19 pm" src="https://user-images.github

[2018-03-28 11:55] o0xmuhe commented on #2
I cannot see this Button too..

[2018-03-28 20:58] patathor commented on #2
I have made a VM of macOS High Sierra w/ a IDA 7.0 install, but I haven't been able to reproduce the issue.
Here is a screenshot of what I get:
![tmp](https://user-images.githubusercontent.com/12370545/38056013-846ae510-32db-11e8-98f5-e08394447a03.png)
 Could you give me more information about your system (macOS version, IDA version, etc.) so that I can investigate further. Thanks!

[2018-03-29 00:33] lallousx86 opened #4 "Where's requirements.txt?"
Hello,

I wanted to try the plugin but the instructions are incomplete.

Where's the 'plugin' folder and where are requirements.txt ?

[2018-03-29 06:59] NeatMonster commented on #4
Hello there. I'm sorry, you came just in the middle of a big refactoring to remove the dependency on Twisted. I pushed some of my code late at night and haven't had time to update the instructions yet.

Quick fix: use the code at eb8035cded23ff6d2876d338fab673f7f5141c81. The dependencies of the plugin were `twisted`, `qt5reactor`, and `pypiwin32`on Windows, while the server depended only on `twist

[2018-03-29 12:46] patathor opened #5 "IDA crash with IDAskins and IDAConnect plugins installed"
It seems that using IDAConnect while having the IDASkins plugin installed makes IDA Pro 7.0 crash on exit.
Here is a screenshot of the issue:
![2018-03-29-143225_640x510_scrot](https://user-images.githubusercontent.com/12370545/38089402-9d418af6-335f-11e8-802a-290c84486312.png)

[2018-03-29 17:41] NeatMonster commented on #4
@lallousx86 The `README.md` has been updated, I think I can now close this issue.

[2018-03-29 17:41] #4 closed

[2018-03-29 17:45] NeatMonster commented on #5
Here is the result of loading the crash dump in Visual Studio and adding the debug symbols:
![capture](https://user-images.githubusercontent.com/775152/38104398-4443f3d8-3389-11e8-92e1-18bbad624ff9.PNG)

It appears to be related to the `QWidget`s we use. I will continue investigating on the coming days.

[2018-03-29 19:54] NeatMonster commented on #5
@patathor Could you check if commit e4c0d4b4b603700ffff825ee6077d163330af54a fixes the issue and close the issue if it does?

[2018-03-30 18:09] NeatMonster commented on #2
@Maximus- @o0xmuhe I fixed the background rendering issue that is visible on @patathor screenshot, but I'm wondering if maybe it also fixed your issue. Can you try a version greater or equal to ef8e0eabdcc7ddc19d13ec1c5ca828fe66138e7a?

[2018-04-03 11:52] o0xmuhe commented on #2
@patateqbool  My macOS version is 10.13.4 ,and my IDA Pro version is 7.0.170914. Here is a screenshot  what I got  :
<img width="648" alt="ida" src="https://user-images.githubusercontent.com/12029365/38247531-4277cbfe-3778-11e8-904c-c84d7b4fd6db.png">

I cannot get  Netwrok settings menu,even though I click it.

[2018-04-05 16:42] NeatMonster commented on #2
@Maximus- @o0xmuhe I have successfully reproduced the issue on some real hardware. It was an issue w/ high pixel density displays. It should be fixed by commit 0d44756015df1720567ed3309d77e83560b86f44. I will now close this issue.

[2018-04-05 16:42] #2 closed

[2018-04-06 17:22] Kira-cxy opened #6 "Can't send comments data in Pseudocode"
I test the comments in disassembly mode, it works fine.
When I try add some comments in Pseudocode mode, the error is shown.
On Windows 10
[code]

On OS X 10.13.4
[code]

[2018-04-06 20:48] NeatMonster commented on #6
Should be fixed by commit 844be5c9ce03bdb758e11a2d9d6694b6be6af693 (not retro-compatible). I'm sure there are a lot more issues related to synchronizing Hex-Rays, so don't hesitate to reopen this issue if you encounter another one.

[2018-04-06 20:48] #6 closed

[2018-08-06 07:12] NyaMisty opened #8 "Seems the function comment in Hex-Rays not synchonrized"
Comments like this won't be sent to server :(
![image](https://user-images.githubusercontent.com/5344431/43702040-0d9ea644-998b-11e8-9138-42eb84420cc8.png)

[2018-08-06 08:38] NyaMisty opened #9 "Possible way to hook "Change callee address"'"

[2018-08-08 08:10] NeatMonster commented on #9
I'm hesitant to implement this because so far we've tried to keep the plugin as unintrusive as possible. Still, we have already resorted to something similar for things that cannot be done in another way, like loading another database.

It would also allow us to hook some events (not even plugin-related) that we wouldn't normally have access to. If we do this, I would like to have some heuristic t

[2018-08-08 08:16] NeatMonster commented on #8
Thank you for using IDArling and reporting the issues you encounter @NyaMisty!

Function comments are probably stored somewhere else, somewhere that we missed obviously. Hex-Rays support is still very much a work in progress, as it requires digging into the internals of IDA. If someone is interested in implementing this, that would be much appreciated, otherwise I will try to do it when I'll have

[2018-08-08 10:34] NyaMisty commented on #9
Oh the hook the IDA library is actually not something new. The plugin called [`REtypedef`](https://github.com/zyantific/REtypedef) achieved the typedef function through hook the *demangle* function in IDA.wll, and it's in fact quite stable, almost no crash at all.
Also, for the unexported function, it seems that hardcoding the offset for different version of IDA will the best choice, since all the

[2018-08-08 11:04] NeatMonster commented on #9
- We're already using `ctypes` to call unexported functions: https://github.com/IDArlingTeam/IDArling/blob/412478ea14975b16f814eab45f95e77eeb4da5ba/idarling/interface/actions.py#L260-L313.
- We're also using it as a workaround a bug in the Python bindings: https://github.com/IDArlingTeam/IDArling/blob/57a54acdecbb58bf9a8264dd84a308575e83f42f/idarling/core/hooks.py#L506-L510.
- There is also an off

[2018-08-08 11:47] NyaMisty commented on #9
Well sorry I misunderstood you just now. In this way it's really a big dilemma. Personally, I think that we can use hooking as a temporarily workaround, and wait Hex-Rays' updates.
As for the hardcoded offset, I suggest we give the heuristic solution a try, test it on different platforms, and disable when a new version is not supported or not tested.
Also, hooking method in IDA 7.0 is not that eas

[2018-08-08 12:47] NyaMisty commented on #8
Haha *good first issue* is quite funny. I love it very much!
But it seems that this function can only be implemented using inline hook :(

[2018-08-08 20:29] #8 closed

[2018-08-08 20:46] NeatMonster commented on #8
Actually, it wasn't that tricky. From [Edit Block Comment](https://www.hex-rays.com/products/decompiler/manual/cmd_block_cmts.shtml) page of the user manual, I learned that:

Searching for "function comment" in the SDK documentation led to the [`get_func_cmt`](https://www.hex-rays.com/products/ida/support/sdkdoc/funcs_8hpp.html#aeadbb1e0b11eae2e34730ede51d1ed38) and [`set_func_cmt`](https://www.he

[2018-08-08 21:46] NeatMonster commented on #9
I agree with you, we're already doing ugly workarounds using `ctypes`, so it won't be *that* much uglier; and we've got no other way of implementing the missing hooks anyway.

That could work, but I'm not entirely decided yet.

I only see two options:
- use the 12-byte `mov rax, <abs64>; jmp rax` gadget but that will either make some hooks impossible or complicate relocating the overwritten instru

[2018-08-09 04:52] NyaMisty commented on #9
Oh it's the jmp part, that's quite easy and can be achieved in various way, but we need the trampoline, which contains the overwritten instructions to call the original function

[2018-08-09 08:20] NeatMonster commented on #9
I guess we could integrate Captstone/Keystone and write relocation rules, but that would be overkill for our simple needs IMO. Also, we don't want to have any  external dependencies, that's why I wrote a networking engine to replace Twisted (and I couldn't even use QtNetwork as it isn't shipped w/ IDA).

Maybe just manually choosing the location of our hooks to avoid overwriting location-dependent

[2018-08-10 07:52] NyaMisty commented on #9
OK, got it ;)

[2018-08-12 04:21] NyaMisty opened #14 "Error when processing non-ascii comments"
[code]
It seems that the IDA uses UTF-8 on windows, too.

[2018-08-13 07:20] hacksysteam opened #15 "'utf8' codec can't decode byte 0x85 in position 5: invalid start byte"
[code]

[2018-08-15 07:40] NyaMisty opened #19 "Better way to sync local types"
Seems that the IDA kernel will delete the type and then re-create it, causing the local_types_changed hook being called multiple times.
When the network is quite good (no packet loss, very low delay), it doesn’t matter and works very well, but when I test it on a normal network(~2% loss) with 3 person, it seems that it will lead to racing conditions, corrupt the local types list.
I tried to fix it

[2018-08-15 16:50] #14 closed

[2018-08-15 16:52] NeatMonster commented on #14
I've confirmed that Windows also uses UTF-8, I guess [the resource](http://moritzraabe.de/2017/03/28/name-identifiers-and-comment-encoding-in-ida-pro/) I was using wasn't up-to-date.

Thanks @NyaMisty!

[2018-08-15 16:54] NeatMonster commented on #15
There was an issue with the encoding under Windows that should be fixed by the commit https://github.com/IDArlingTeam/IDArling/commit/5471abd282d82850b9ef5e8b15d6ad6b6cecf9d4. Could you check if your issue still occurs @hacksysteam? Thank you.

[2018-08-15 17:19] NeatMonster commented on #19
I've tried adding a new local type and I see the hook being triggered 3 times:
[code]

I think the best approach would be splitting the `LocalTypesChanged` events into 3 separate events: `LocalTypeAdded`, `LocalTypeRemoved`, `LocalTypeChanged`, each only applying to a specific index.

This would still require sending 3 (significantly smaller) packets, so I'm not sure if it would totally fix the is

[2018-08-15 17:28] NeatMonster commented on #9
I started working on this the other day. I've successfully hooked an exported function from the library on a 64-bit instance running under Linux, but now I'm looking for a way to notify the Python code.

I don't see `IDAPython_cli_execute_line` or `IDAPython_extlang_call_func` being exported anywhere. It doesn't appear to be in `libida64`, `python64`, nor `ida64`. Did I miss something?

In the mea

[2018-08-15 21:44] NyaMisty commented on #14
Haha the IDA loved to change everything :)

[2018-08-15 21:46] NyaMisty commented on #9
Instead I found that we needn't to use the `IDAPython_cli_execute_line` or `IDAPython_extlang_call_func`
The ctypes library supports the wrap for c callback. See [https://docs.python.org/2/library/ctypes.html#callback-functions](https://docs.python.org/2/library/ctypes.html#callback-functions)

[2018-08-15 21:55] NyaMisty commented on #19
However these events are all triggered by `local_types_changed` event, and I can't come up with any good solutions on how to distinguish them. You can try to changed a local type and you'll find the hook func will be called twice.
The key point is that the IDA internally refer the local types using ordinals, and we must maintain a list with same order across all clients, or the types in HexRays wi

[2018-08-16 06:11] hacksysteam commented on #15
Hi @NeatMonster ,

I checked with the latest version and it seems that the issue still persists.
This is mostly when I map two variables in one variable and rename the variable name.

[code]

[2018-08-16 07:50] NyaMisty commented on #15
Could you please give us your IDA version and your system language?

[2018-08-16 07:51] hacksysteam commented on #15
IDA 7.0 and EN-US. It's Windows 10 Enterprise Evaluation VM downloaded from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2018-08-16 11:26] NeatMonster commented on #9
Damn, that's as easy as it's going to get. I'm not sure I'll have time to work on this before next week.
@NyaMisty if you're interested in working on it in the meantime, I can give you my PoC code.

[2018-08-16 11:29] NeatMonster commented on #19
I think I understand the issue at hand here, but by

did you mean that you think that my approach will work or won't work?

[2018-08-16 11:51] SilverBut opened #21 "Save host config in a better way"
Currently, host config is separately saved in several variables, which makes adding config items harder, such as client-side certificate verify, or keep-alive.
Maybe save them in a `dict` is better? Any recommendation/suggestion?

[2018-08-16 14:12] NeatMonster commented on #21
Not sure I understood you correctly. You would like to replace the namedtuple [`Server`](https://github.com/IDArlingTeam/IDArling/blob/5471abd282d82850b9ef5e8b15d6ad6b6cecf9d4/idarling/core/core.py#L249) by a dictionary so that future improvements (mutual authentication/keep-alive) are easier to implement?

[2018-08-16 14:18] NeatMonster commented on #21
Okay, I just saw [your recent commits](https://github.com/SilverBut/IDArling) and I see why it can be problematic when you add multiple options. A dictionary would definitively be better fitted for the task.

[2018-08-16 15:28] SilverBut commented on #21
Yes, but I'm still wondering how to do it nicely. Now I'm planning to:
* Replace namedtuple `Server` to a dict, and also
* Rename `state.json` to `config.json` since we need to add more settings in it, and convert old `state.json` should be manually finished by the user

I'll try to do it in this weekend if no more ideas left here.

[2018-08-16 16:14] NyaMisty commented on #15
Oh sorry for the late reply. Could you please share the idb and steps to reproduce the problem with us?
Also are there any logs before the exception raised?

[2018-08-16 16:27] NyaMisty commented on #9
Actually I've got a PoC now, but I'm stucked on how to call the original function.
As I said above, the trampoline must be put in a page near the target. So I failed when I tried to build the trampoline because the distance between target and trampoline is > 0xffffffff. Obviously we need some cross-platform approaches to search usable memory regions, which make the life a lot harder.
At last I'd l

[2018-08-16 16:30] NyaMisty commented on #21
I think that would also be a good idea to use a dict.
(As the python object is indeed dict-like)

[2018-08-16 19:27] patateqbool commented on #21
Yes, it would definitely be better. The next feature that will be pushed (real-time synchronization of cursors) suffered from this problem too (in terms of the persistence of user configurations).

[2018-08-16 19:32] patateqbool opened #22 "Hook "Create struct from selection""
Create a struct from selection doesn't trigger a hook. We need to find a way to hook it (if possible)

[2018-08-16 19:35] patateqbool opened #23 "Implement general settings"
We currently only have one menu for anything network-related. A general settings menu is necessary to allow the user to configure things like its username, log level, et cetera.

[2018-08-16 19:37] patateqbool opened #24 "Fix the integrated server"
Actually the integrated server is broken, it needs to be fixed.

[2018-08-16 19:39] patateqbool opened #25 "Implement user authentication"
Implementing some kind of user authentication would allow for some partitioning between users and projects so that not everyone is able to access everything on the server. Also, by introducing a permissions system, we could make a project read-only.

[2018-08-16 19:42] patateqbool opened #26 "Auto-analysis & Auto-saving"
Implementing some kind of an auto-save is needed to:
- avoid sending all the events since the first upload of the IDB
- avois sending them during a desynchronization when repulling is needed.

Also related, we should figure out what to do during IDA's auto-analysis. During the initial auto-analysis, event sending should probably be disabled. During later analyses, maybe we can keep it running?

[2018-08-17 03:00] SilverBut commented on #25
I have a version based on the client-side certificate. However, I will not open a PR until a fixed some stability and GUI issues.

[2018-08-17 07:01] patateqbool commented on #24
Fixed by commit 7ab053b64408cb79825de07a9bc1bda34fbaf29f, thanks @NeatMonster.

[2018-08-17 07:01] #24 closed

[2018-08-17 07:08] patateqbool commented on #25
Yes I saw your fork and your commits, it is indeed an option envisagable. The other option would be to create a web interface/Qt frontend to create accounts and manage permissions.
I'm not sure that the two features are mutually exclusive, we could implement both imho.

[2018-08-17 07:56] NyaMisty commented on #22
I remembered that the `create a struct` are in fact adding it to the local types, and won’t get into structs list until being used.
As the local types sync has been implemented, I think this issue has already been fixed ;)

[2018-08-17 08:34] SilverBut commented on #25
Now we have a config file, so adding a QT frontend is not hard. The problem is how to implement it, if not using certificate...

[2018-08-17 08:41] NeatMonster commented on #25
I think an username/password approach would be easier to manage. I like your idea to be able to use a custom PKI to authenticate the server, but I don't think it matches our needs for this feature.

[2018-08-17 08:44] patateqbool commented on #22
I just tested, actually the create struct from selection trigger effectively a change of local type, thank you for the fix!
The only problem here is an UI problem, on one side the user creating the structure sees it as defined in the struct view, while the remote users have to import the structure, and they are not necessarily aware about its existence without reading the logs...

[2018-08-17 08:46] patateqbool commented on #23
Currently working on with the cursor synchronization, will be pushed soon.

[2018-08-17 08:52] SilverBut commented on #23
Maybe we can have a checklist for settings menu:

- [ ]  Network settings
  - [ ] Hostname
  - [ ] Port
  - [ ] Server SSL Config
    - [ ] No SSL
    - [ ] System CA
    - [ ] Customized CA
  - [ ] Client SSL Config
    - [ ] No Client-side Certificate
    - [ ] Customized Certificate
  - [ ] Keepalive
    - [ ] Retry every _ seconds
- [ ] General
  - [ ] Logging Level

BTW, maybe some configurat

[2018-08-17 08:53] NeatMonster opened #29 "Implement user cursors"
User cursors allow users to follow collaborators working on the same project.

There a 3 kinds of cursors:
- Navband cursors;
- Function cursors;
- Disassembly cursors.

[2018-08-17 09:05] NeatMonster commented on #19
Do you see the `De-synchronization detected` message when such an issue happens? If the answer is yes, then this isn't specific to local types. Is it a matter of what should we do when collisions happen.

Our current idea (that we haven't implemented) is to make all conflicting users download the last same of the IDB they were working on (auto-save is also not implemented yet) and send them all th

[2018-08-17 09:09] NeatMonster commented on #23
I think the log level has its place in the menus, at least until IDArling is out of beta. I'm sure there are many bugs out there and having a way to toggle debug without editing a file doesn't sounds like a luxury.

[2018-08-17 09:12] NeatMonster commented on #9
Passing an address hint to `mmap(2)` worked for me under Linux. And I think the same can be done with `VirtualAlloc` under Windows.

[2018-08-17 09:27] patateqbool commented on #29
Working on, there is a bug with the navbar when there is too many segments, the whole navbar is colorized...
After talking with IDA staff, they agree to fix this in IDA 7.2.
For the moment, a checkbox allow the user to enable/disable the painter in the navbar.
Will be pushed soon.

[2018-08-17 09:27] NyaMisty commented on #19
Oh in this way I agree with you.
For the three events you mentioned above, it seems that only one LocalTypesChanged event is also OK.

[2018-08-17 09:38] NyaMisty opened #30 "TCP keepalive support"
I strongly suggest we implement the tcp keepalive.
De-synchronization are fatal for our plugin, but too often the connections are reset and the client won’t be notified until a long time passed. In these situation, the clients believe they are connected, but in fact they are already reset, leading to the de-sync.

[2018-08-17 09:47] NyaMisty opened #31 "Thread-safety consideration"
We all know that IDA is still a single-threaded application.
I wonder if we should use the thread-safety decorator like this:
https://github.com/gaasedelen/lighthouse/blob/master/plugin/lighthouse/util/ida.py
http://www.williballenthin.com/blog/2015/09/04/idapython-synchronization-decorator/

Possible issues caused by this:
- Already decompiling a function error
- Cursor sync causing crash
- Frequ

[2018-08-17 09:54] NyaMisty commented on #26
I suggest that we should tell users to save the IDB after the initial auto analysis in the usage.

[2018-08-17 09:57] NeatMonster commented on #19
Could be confirm or infirm if you're seeing the message I mentioned? If you do, we should rename this issue to something like "Implement collision recovery" because that's the underlying problem we need to tackle.

[2018-08-17 10:01] NeatMonster commented on #31
@NyaMisty I'm unsure why we would need such thread-safety primitives. IDArling is integrated within the Qt event loop of IDA and thus is running within the main thread. Isn't that what is expected?

[2018-08-17 10:02] NyaMisty commented on #31
But seems that there do have some bugs
Maybe we should dig deeper?

[2018-08-17 10:04] NyaMisty commented on #19
Well I understand, I'll close this issue~

[2018-08-17 11:13] SilverBut commented on #30
Recommend use TCP keepalive with a reasonable timeout. Maybe can reduce some work?

[2018-08-17 11:15] NyaMisty commented on #30
Some network like the one in the funny Caesars Palace will simple reset ** all ** connections every ~20s. I don't think TCP keepalive will help much in this situration.

[2018-08-17 11:25] SilverBut commented on #30
Nothing will help much in this situation, except for throwing out a packet and caring nothing about its status.

But I would rather find a better ISP or use VPN. This is surely a network problem, instead of a jitter.

[2018-08-17 11:30] SilverBut commented on #25
This is only a small part of the code.

Client-side certificate means the *client* needs to send its own certificate to server, and server will check if it's signed with an valid CA or it can be directly trusted. It is *not* used for auth the server.

And it still remains a problem about how to auth an user. Let's assume there already have some user authentication method, and the problem is: shoul

[2018-08-17 11:35] SilverBut commented on #23
@NeatMonster Besides. Do you think we should use a QML file instead of lots of `addWidget` in the script to simplify the GUI design? The code seems too dirty now...

[2018-08-17 13:59] NeatMonster commented on #19
Reopening this issue to keep track of our needs on collisions recovery.

The current solution we've considered but not implemented yet is to to make all conflicting users download the last same of the IDB they were working on and send them all the events up to either the last event before the conflict, or the conflicting events but with their order corrected by the server.

[2018-08-17 14:01] NeatMonster commented on #21
Fixed by @SilverBut in https://github.com/IDArlingTeam/IDArling/pull/28. Closing...

[2018-08-17 14:01] #21 closed

[2018-08-17 14:02] NeatMonster commented on #26
Yeah, that's what we were going for initially. Good to see everyone agrees. :-)

[2018-08-17 14:32] NeatMonster commented on #30
@NyaMisty If we allow the user to configure the TCP keepalive, it might help. Judging from [this StackOverflow answer](https://stackoverflow.com/questions/12248132/how-to-change-tcp-keepalive-timer-using-python-script), you can set how long after the last packet keepalive packets will be sent, the interval between keepalive packets, and how many keepalives packets to send before closing the connec

[2018-08-17 14:54] NeatMonster commented on #25
I know you implemented mutual authentication on your repo. I just meant that I can see value in authenticating the server using a custom certificate chain. But authenticating clients the same way might be very practical for large corporations, but way overkill for small groups of individuals.

You're right that we need to do authentication correctly if we allow SSL to be disabled though.

[2018-08-17 14:58] NeatMonster commented on #23
If we can get rid of Qt's verbosity, I'm all for it. I've just never looked into QML files, so that's why I never bothered with them.

[2018-08-17 15:15] NyaMisty commented on #30
OK I'll modify the issue

[2018-08-17 16:16] SilverBut opened #32 "Use QML to define the UI"
As we have discussed in issue #23, QML might be a good idea to define the UI, so we can get rid of lots of `addWidget` in our code. (Of course, just say here if you think there is anything better than QML.)

Use the following checklist when mitigating:
- [ ] Find a good directory to contain and load QML files
- [ ] For each dialogue:
  - [ ] Reproduce UI in QML
  - [ ] Rebind slots if necessary

[2018-08-17 16:17] SilverBut commented on #23
Just created issue #32 for using QML. New setting dialog will be implemented after #32 closed.

[2018-08-18 10:53] NeatMonster opened #33 "Status bar widget rendering"
When the user is connected to a server, the text of the status bar widget will not always be displayed correctly. This issue occurs on Linux, Windows, and maybe macOS. See the screenshot below.

![2018-08-18-124836_324x40_scrot](https://user-images.githubusercontent.com/775152/44298529-21053500-a2e5-11e8-8ad2-e4e648179d46.png)

I've tried debugging this issue before, but couldn't find anything. Wi

[2018-08-18 10:55] NeatMonster commented on #32
We could probably have a `resources/images` and a `resources/layouts` directory.

[2018-08-18 14:47] NeatMonster commented on #15
I can't seem to reproduce the issue @hacksysteam. As @NyaMisty mentioned, could you paste the output from IDA's console, as well as give us more detail about what you did prior to the seeing the exception?

[2018-08-18 15:50] #33 closed

[2018-08-18 20:49] patateqbool opened #34 "Figure out why the plugin is initialized twice"
The plugin is initialized twice in my case, leading to [ugly hacks](https://github.com/IDArlingTeam/IDArling/blob/master/idarling/core/hooks.py#L682), we need to figured out why...
It can be noted that the plugin is initialized once if no IDB is loaded and twice if an IDB is loaded.

[2018-08-18 20:51] patateqbool opened #35 "Implement user defined color synchronization"

[2018-08-19 02:21] SilverBut opened #36 "Not working under terminal version of IDA"
Under IDA 7.1 Linux, IDA will crash if start with `idat`.
We should temporarily disable the plugin if under terminal mode.

[2018-08-19 09:45] NeatMonster commented on #34
On my Linux machine, `init()` and `term()` are only called once, whether or not I open a database.

[2018-08-20 06:53] hacksysteam commented on #15
Hi @NyaMisty and @NeatMonster ,

Thanks for the response. I will not be able to share the IDB. However, I will let you know the steps to reproduce it.

1. I map two variables into one.
2. Rename the variable

[code]
I suspect the mapping the variables is the cause. But you will know better

[2018-08-20 16:13] #15 closed

[2018-08-20 16:13] #36 closed

[2018-08-20 16:13] NeatMonster commented on #36
IDArling should not longer load is IDA is launched in terminal mode.

[2018-08-20 16:16] NeatMonster commented on #15
@hacksysteam Thank you for sharing the offending event. I did some more digging, this time it should actually be fixed. Could you try the master branch and re-open this issue if necessary? Thanks!

[2018-08-20 16:18] NeatMonster commented on #34
@patateqbool Could you remove your "ugly hacks" in your next commit and close this issue? Thanks!

[2018-08-20 16:25] NeatMonster commented on #22
@patateqbool @NyaMisty What is the status of this issue? As far as I understand, some work is still needed, could you confirm? Thanks!

[2018-08-20 16:45] patateqbool commented on #22
As @NyaMisty said, if the type is used by an user, it will be automatically imported by IDA in the struct view... I think we can say it's close now.
Please feel free to re-open the issue if you disagree @NyaMisty.

[2018-08-20 16:45] #22 closed

[2018-08-20 16:55] patateqbool opened #37 "Implement auto-import of structure local type"
As mentioned in the issue #22, structure synchronized by create struct from selection aren't imported in the remote struct view.
We need to find a way to automatically import them.

[2018-08-20 17:30] patateqbool commented on #23
Done except "User Settings" to "General Settings" in commit 3f25dc077fe8d8f592b3ee7f97540973b8599cde

[2018-08-20 19:08] NeatMonster commented on #23
@patateqbool And except the icon... ;-)

[2018-08-20 21:15] patateqbool commented on #34
No I can't because.... This is a bug ! Mouahahahahah \o>

[2018-08-21 08:10] NeatMonster commented on #9
I got it working under Linux, now I'm working on the Windows version. You're right, we need to use `VirtualQuery` in order to find a free spot. I'm kind of ripping the code from [MinHook](https://github.com/TsudaKageyu/minhook/). :-)

![2018-08-21-100645_959x330_scrot](https://user-images.githubusercontent.com/775152/44389043-15ef1680-a52a-11e8-9fcc-188f5e496355.png)

[2018-08-21 10:12] hacksysteam commented on #15
Yep! Seems to work now. Thank you very much.

[2018-08-21 14:55] NyaMisty commented on #9
Good! Also could you please have a look at my still-opening pr?

[2018-08-21 17:02] NeatMonster commented on #15
Glad to hear it.

[2018-08-22 07:46] NeatMonster commented on #9
And... I got in working under Windows. Next up is macOS.

![capture](https://user-images.githubusercontent.com/775152/44450056-40a3a280-a5f0-11e8-8b98-10bf0e2bad05.PNG)

[2018-08-22 09:17] SilverBut commented on #32
WIll use QML. All old images are now moved to `resources/images` and QML files will be in `layouts`. Some UI related code will be removed and write in QML.

Though there are some criticism voices towards QML, I still think it is useful for desktop apps, since it can separate business logic code from UI code.

[2018-08-22 11:25] NeatMonster commented on #1
@zadlg It is relevant, but this is so far in our long-term plans (and I personally won't be working on it - maybe on BinaryNinja) that I think it is okay to focus only on IDA at the moment. Like @SilverBut mentioned, because we're able to run the server outside of IDA, I think the current separation is enough. Maybe the events and event callbacks could be split into two files, but that will be eas

[2018-08-22 11:55] NeatMonster commented on #35
I editing the issue description for clarity. This is totally related to issue #9.

[2018-08-22 12:06] NeatMonster commented on #9
Here are the events we noted are missing:
- [ ] Change callee address (#9): missing
- [ ] User-defined colors (#35): missing

Here are the events added in https://github.com/DGA-MI-SSI/YaCo/pull/2:

- [ ] Regvar: unknown
- [ ] Regvar Rename: unknown
- [ ] Toggle Sign: unknown
- [ ] Mark Comment/Delete Mark: unknown
- [ ] Area Comment: unknown
- [ ] Function Flags: unknown
- [ ] Enum Width: unknown

[2018-08-22 12:13] NeatMonster commented on #37
Saving [this link](https://reverseengineering.stackexchange.com/questions/11057/adding-automatically-standard-structs-or-enums) for later.

[2018-08-22 14:45] SilverBut commented on #32
oh....didnt test it. so we can only leave it wontfix. i do not want to install QtQML again neither.

[2018-08-22 18:45] NeatMonster commented on #9
And... It works with almost no modifications on macOS too.

<img width="721" alt="capture d ecran 2018-08-22 a 20 44 25" src="https://user-images.githubusercontent.com/775152/44483792-4e871100-a64c-11e8-8717-ca9e005c7f68.png">

[2018-08-22 22:45] NeatMonster commented on #9
I have added my [*Proof of Concept* code](https://github.com/IDArlingTeam/IDArling/blob/patcher/idarling/core/patcher.py). Further developments will continue in the [`patcher`](https://github.com/IDArlingTeam/IDArling/tree/patcher) branch.

[2018-08-22 22:48] NeatMonster commented on #29
Reopening the issue to track the progress on letting the users change their username and color.

[2018-08-23 05:34] NyaMisty commented on #9
Suggestion：we can embed an tiny disassembler to avoid hardcoding the trampoline

[2018-08-23 08:17] NeatMonster commented on #9
@NyaMisty Not sure what you mean by that. Having a disassembler would allow us not to have to specify the size of the relocated instructions, but that's all. That would still be interesting, but I haven't been able to find an instruction-length disassembler engine, nor what I able to find any useful APIs into IDA. The only thing that I can think of is to make IDA decompiles itself on the first lau

[2018-08-23 09:59] NyaMisty commented on #9
I think hardcoding the trampoline here(https://github.com/IDArlingTeam/IDArling/blob/patcher/idarling/core/patcher.py#L113) is not that robust :(
I've wrote an universal assembler which will offer us relocation informations which can be found [https://gist.github.com/NyaMisty/4ced56540801a2c758a08562ae8c5236](https://gist.github.com/NyaMisty/4ced56540801a2c758a08562ae8c5236).
And also the correspo

[2018-08-23 10:03] NyaMisty commented on #29
Maybe we can also have a better color generator like this? [https://github.com/kevinwuhoo/randomcolor-py](https://github.com/kevinwuhoo/randomcolor-py)

[2018-08-23 10:11] NyaMisty opened #38 "Break down huge source files"
Currently the `events.py`, `hooks.py` are a little long, and will get longer and longer as new hooks being introduced.
Maybe we can consider refactor them into several folders? If so, It will be easier to both add new feature and doing some changes.

[2018-08-23 16:57] NeatMonster commented on #9
I don't intend on keeping it that way. As I stated earlier, this is just the PoC code that I wrote earlier.

Nice, I didn't know about [libsplice](https://github.com/vol4ok/libsplice). It looks like what I was initially looking for. But we should consider this example as an easy one as I'm unsure we will have a symbol for all of our hooks. So, they'll probably necessitate some manual analysis, mea

[2018-08-23 17:39] NeatMonster commented on #29
What is wrong with [the current one](https://github.com/IDArlingTeam/IDArling/blob/master/idarling/interface/painter.py#L50-#L51)? I designed it so that it keeps the saturation and lightness constant, and varies only the hue. As the result, the colors are both readable and vivid. Have you had any issue with it?

[2018-08-23 20:15] patateqbool commented on #34
The previous fix seems to crash IDA in some cases.
Here are the steps to reproduce in order to reach the bug:
- cp /bin/ls /tmp
- open /tmp/ls with ida and close to create /tmp/ls.i64
- cp /tmp/ls.i64 /tmp/ls2.i64
- ida64 /tmp/ls.i64 & ida64 /tmp/ls2.i64
Open first /tmp/ls2.i64 and then /tmp/ls.i64, the first one should open correctly and the second one should crash.
@NeatMonster can you check thi

[2018-08-23 20:49] NeatMonster commented on #34
[code]

Sounds like it is related to the navbar colorizer. ;-)

[2018-08-23 22:32] patateqbool commented on #34
Still not working on my side:
gef➤  bt
#0  0x0000000000000000 in  ()
#1  0x00007f8c39bdfe82 in sipSubClass_QApplication () at /home/patate/ida-7.1/python/PyQt5/QtWidgets.so
#2  0x00007f8c3aaafbd8 in  () at /home/patate/ida-7.1/python/lib/python2.7/lib-dynload/sip.so
#3  0x00007f8c3aab3b2b in  () at /home/patate/ida-7.1/python/lib/python2.7/lib-dynload/sip.so
#4  0x00007f8c39ba6f59 in convertFrom_Q

[2018-08-23 23:44] NeatMonster commented on #34
@patateqbool Could you check again after commit https://github.com/IDArlingTeam/IDArling/commit/979bf7c30a4ab7652406383caec89d6bec923982?

[2018-08-24 00:42] NyaMisty commented on #9
Oh I assume we are hooking at the beginning of the function, as most hook library only implemented this.  So we need to hook in the middle of a func?? In that case we would need to check and preserve lots of registers :(
`Also we needn't trampoline that long in current PoC code, only about 10 bytes are enough.`
I used to hook using Cpp, and most of the hook library do so, but I'm not that sure abo

[2018-08-24 00:49] NyaMisty commented on #29
Oh sorry I misunderstood your code. In this way I agree with you.
But for me, sometimes the cursor will generate colors like the following one, and when togethered with black font color it becomes quite hard for me to read it.
![image](https://user-images.githubusercontent.com/5344431/44559093-4e852f00-a77a-11e8-8a75-307871209ade.png)

[2018-08-24 00:56] NyaMisty commented on #34
After `979bf7c` I can't even run the plugin hahah

[2018-08-24 07:15] NeatMonster commented on #34
@NyaMisty Oops, should be fixed by @SilverBut 's commit (https://github.com/IDArlingTeam/IDArling/commit/d8a95b49d15ad10599150e074e22f1a5aae5bac1).

[2018-08-24 08:19] NeatMonster commented on #9
I will investigate more on this, but it didn't seem far-fetched to have to hook within a function, e.g if we need a value for the callback that isn't simply an input parameter. But as I said, I will have to take a look at where the hooks added by YaCo and the new ones we need, are located. This is my next step on this issue.

[2018-08-24 09:11] NyaMisty commented on #29
Well I lost the screenshot, but I remembered that when rendered in function list it make me crazy to read the function name :(

[2018-08-24 17:47] #30 closed

[2018-08-24 19:12] NeatMonster opened #42 "Implement notifications"
We should implement a notification system to show alerts to the user. One example of such notifications might be users joining/leaving the collaborative session.

[2018-08-24 19:14] NeatMonster opened #43 "Implement servers discovery"
We should implement some kind of local server discovery, so that you don't have to manually add a server to the list when you're trying to use the integrated server.

[2018-08-24 20:15] patateqbool commented on #34
I'm currently at 4331e5dcdbfec785e7f484f0553c7fe64ceabd7d and I still have crashes :(
Here the backtrace
[code]

[2018-08-24 20:53] NeatMonster commented on #43
`client.py`

[code]

`server.py`

[code]

Now I need to figure out how to integrate my quick PoC into the Qt event loop.

[2018-08-24 21:20] patateqbool commented on #29
Users can change their username now (commit 6247dd9ebb7600b64f0f91cd095be75835a29153)

[2018-08-27 22:28] NeatMonster commented on #43
Implemented here: https://github.com/IDArlingTeam/IDArling/commit/44eea4ed4b93504c8be4c071fae4ba719334c11e.

[2018-08-27 22:28] #43 closed

[2018-08-27 22:29] NeatMonster commented on #34
@patateqbool What's the status on this issue? Still occurring?

[2018-08-27 22:34] NeatMonster commented on #42
Here's what I've got:
![2018-08-28-003232_231x63_scrot](https://user-images.githubusercontent.com/775152/44690064-e4aaa500-aa59-11e8-8941-a3a80f731fe4.png)

The notification fades in and out, and is clickable. Any suggestion?

[2018-08-28 07:38] patateqbool commented on #34
Currently working on macOS. I'll tell you when I go back under my workflow which generates the problems.

[2018-08-28 14:12] SilverBut commented on #34
I can partially reproduce it in latest commit 1d345cc3a608d86ffe93d1c871afa87f37923fa7, using IDA 7.1 Linux.

However I don't think the plugin is loaded twice, since if you do this patch in `idarling/inferface/plugin.py` you can see while the initialize message and `get me out` message print out 2 times, the message `already out` only output 1 time.

Maybe someone wrongly used `logging`?

![deepin

[2018-08-28 15:36] SilverBut commented on #34
Alright I see...

[2018-08-28 15:41] SilverBut opened #44 "Add authentication window"
It is possible to use the client-side cert to auth client, and it is also necessary to set up a split config panel for credential management, so we can add some other auth type like username-password or username-TOTP in the future.

So I will add another panel called "Auth Management", which can be used to add a credential pair with a unique name. And add a drop-down menu in the server edit/add bo

[2018-08-28 15:43] SilverBut opened #45 "Add client-side certificate verify method"
Client-side certificate verify is originally supported by SSL, and I already have an implementation(untidy, though) for it. If we need to add it, I can just merge it.

Also, this will be the first authentication method added in the panel mentioned in issue #44

[2018-08-28 15:46] SilverBut opened #46 "Rearrange widgets in settings window and refactor code related"
Currently, some files under `idarling/interface` are kind of too complex and should be refactored.

Also, the settings window don't have a common save/cancel/reset button, which is kind of awkward for users.

I would refactor those code and make a change to the widgets.

[2018-08-28 15:47] SilverBut commented on #46
And if anything goes right, this issue, along with issue #44 and #45, will have a related pull request after less than 72 hours.

[2018-08-29 07:45] SilverBut commented on #34
@patateqbool

By the way, this comment

Has now been resolved (but not comitted yet).

[2018-08-29 08:13] patateqbool commented on #34
@SilverBut ack, thank you.

[2018-08-29 09:11] NeatMonster commented on #34
@SilverBut I believed it is fixed in the master branch.

The layout of the network settings tab was being added to `self` instead of `tab`.

[2018-08-29 09:18] NeatMonster commented on #46
I have a question for everyone involved: do you think we should keep everything inside the same window? If not, should we add our menu into IDA? I do like the idea of using only the widget though. :-/

[2018-08-29 10:30] hacksysteam opened #47 "Backup IDBs Feature"
Hi @NeatMonster ,

It would be great to have a functionality to have server automatically save the uploaded IDBs to a GIT server or whatever is good.

I had submitted the same request but can't seem to find it in the issue list, so filing it again.

Thanks.

[2018-08-29 11:11] SilverBut commented on #46
Actually, there are not so many differences...

Currently, we are using a TabWidget with many pages, and for each page, a QWidget is created to put many controls. When closing the window, settings in the QWidget will be saved.

If we use a menu, we can just remove the TabWidget and add a warper function like `show_config_dialog(CfgSettingsWidget)`, which would create a dialog, put in the related w

[2018-08-29 11:16] SilverBut commented on #34
@NeatMonster At least not in commit 1d345cc3a608d86ffe93d1c871afa87f37923fa7 for IDA 7.1 under Linux. You can still see those hints when opening the "settings" dialog.

[2018-08-29 11:29] NeatMonster commented on #46
@SilverBut Thank you for your input. I'm on the "keeping everything as is" side too. @patateqbool?

[2018-08-29 11:33] NeatMonster commented on #47
I'm not a big fan of the idea of adding Git support for the server. But would storing every revision of the database under a different name (maybe suffixed by the date) work for you?

[2018-08-29 11:35] hacksysteam commented on #47
What happens when the sever is dead for some reason. I requirement is not specifically for GIT.
My more emphasis was on backup the IDBs to some other locations.
Do you have anything in mind?

[2018-08-29 11:39] NeatMonster commented on #47
I personally believe that not it isn't the job of IDArling to backup the databases stored on the server. Maybe an user interested in backups of the server could use a cron job to copy/export the files elsewhere?

Anyway, I wouldn't mind other people's input on the matter. @patateqbool @SilverBut @NyaMisty

[2018-08-29 11:43] patateqbool commented on #46
Same here, I prefer the current style. Thanks for your input @SilverBut.

[2018-08-29 11:48] patateqbool commented on #47
Actually, I agree with @NeatMonster. This is not IDArling job to backup the databases, and other software, I think noticeably to rdiff-backup, do this task much better than we could do it.

What are your points of view @SilverBut @NyaMisty ?

[2018-08-29 12:18] NeatMonster opened #48 "Switch to black/flake8 + extensions"
I would like to format the code using [`black`](https://github.com/ambv/black), but with a line length of 79 (confirming to PEP8).

Maybe we could switch to [`flake8`](https://github.com/PyCQA/flake8) to enforce the code-style, and use the following extensions:
- https://github.com/PyCQA/pep8-naming
- https://github.com/PyCQA/flake8-import-order
- https://github.com/PyCQA/flake8-docstrings

I'm no

[2018-08-29 15:55] SilverBut commented on #47
I can not see the point of implementing it in IDArling server side, since:

1. When the server is dead, users will be disconnected, reverse engineering jobs are desynced, and even if you can get it back again, conflict command packets may still have a chance of making things worse. Maybe we should have an excellent way to solve the un-synced problem before backing up IDBs. (I heard @NyaMisty have

[2018-08-29 16:34] hacksysteam commented on #47
@SilverBut , yes, I know it's not a must thing to implement. Deploy scripts would be absolutely fine.

[2018-08-29 17:37] hacksysteam commented on #48
@NeatMonster why not use pycharm, it has all the format thing you are looking for.

[2018-08-29 17:39] hacksysteam commented on #42
This type of notification would be really distractive. How about in status bar? Just my opinion

[2018-08-29 17:51] patateqbool commented on #48
@hacksysteam I think we don't want to force users/developers to use an specific IDE.

[2018-08-29 17:52] patateqbool commented on #42
@hacksysteam notifications can be disabled in settings.

[2018-08-29 18:03] NeatMonster commented on #47
I think @SilverBut summed it up perfectly. I won't be writing those deploy scripts because we have a lot of other features to implement, but if anyone is willing to work on this, it would be greatly appreciated.

[2018-08-29 18:08] NeatMonster commented on #48
The line length is not going to change. @patateqbool is using `vim` in his terminal so I don't want to go over 80 characters or it would become a lot less readable for him. But because manually fixing the formatting is a tedious task, I believe an automated tool like `black` brings a lot of good to the table.

[2018-08-29 20:29] #37 closed

[2018-08-29 20:39] patateqbool commented on #29
Users can now change their color (commit 6a990365), closing this issue.

[2018-08-29 20:39] #29 closed

[2018-08-29 22:09] NeatMonster commented on #42
"Notifications" have been implemented in https://github.com/IDArlingTeam/IDArling/commit/791c92e907c7186daf5b90dcb64601c84dcc6904. Closing...

[2018-08-29 22:09] #42 closed

[2018-08-31 11:29] NeatMonster commented on #46
I have made some changes related to this issue in commits https://github.com/IDArlingTeam/IDArling/commit/7dad355d9e96611ad62e8e608f8515d4a293f18f and https://github.com/IDArlingTeam/IDArling/commit/51b6a977acfcb5789955906c0d9629289791858f.

[2018-08-31 11:30] NeatMonster commented on #23
I think it's finally time to close this issue. :-)

[2018-08-31 11:30] #23 closed

[2018-08-31 11:32] NeatMonster commented on #34
@patateqbool Could you check if the message is gone after the recent changes? Have you encountered another crash of IDA since to `QCoreApplication` to `qApp` change?

[2018-08-31 11:50] patateqbool commented on #34
@NeatMonster nop, it's fine now. I don't have crash anymore too. :) I think we can close this issue.

[2018-08-31 11:50] #34 closed

[2018-09-03 01:13] cnsheds opened #49 "'module' object has no attribute 'SO_REUSEPORT'"
windows7 ida7.0
'module' object has no attribute 'SO_REUSEPORT'

self._socket.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEPORT, 1)
AttributeError: 'module' object has no attribute 'SO_REUSEPORT'

'NoneType' object has no attribute 'setEnabled'
 File "D:/Tools/IDA 7.0/plugins\idarling\shared\discovery.py", line 130, in stop
    self._read_notifier.setEnabled(False)
AttributeError: 'NoneType' objec

[2018-09-03 07:15] #49 closed

[2018-09-03 07:15] NeatMonster commented on #49
I guess `SO_REUSEPORT` is only necessary for macOS. Should be fixed in my latest commit.

Thanks a lot for the report @cnsheds!

[2018-09-03 18:46] NeatMonster commented on #48
Here's what we've settled down on:
- using `black` for auto-formatting;
- checking code-style using `flake8` and
  - using the `pep8-naming` plugin;
  - using the `flake8-import-order` plugin.

Take a look at the file [`.travis.yml`](https://github.com/IDArlingTeam/IDArling/blob/master/.travis.yml) to see how to check code-style.

[2018-09-03 18:46] #48 closed

[2018-09-03 18:50] NeatMonster commented on #38
Here are the current lines count:
[code]

[2018-09-03 22:20] NeatMonster opened #50 "Track the origin in the netnode"
We're saving the repo and branch the database originates from in the netnode. But we do not track the server it came from. We should check if the repo and branch exist on the remote server before subscribing.

[2018-09-06 06:18] SilverBut commented on #46
Noticed that. I'm about 30% of merging those code...real world stuffs is kind of busier than I was thought.

[2018-09-06 06:30] SilverBut commented on #46
Besides I recommend we split some commits.... such as in comit 7dad355, it says "Save/Reset/Cancel Buttons" are added, but after reviewed the code you might noticed:
* Default config generator is changed, with default color generater merged
* Refactored code for setting colors to use methods from Qt
* Fixed bug of loading wrong logging level
* Adding settings reset/cancel mechanism
* Form structur

[2018-09-06 06:31] SilverBut commented on #46
Commits generated by `black` and `flake8` should also be committed separately.

[2018-09-06 07:57] SilverBut opened #51 "Memory leak of Settings dialogue"
In both current `master` branch and my `issue-guis` branch, the `SettingsDialog` is created for everytime you click `Settings` in menu. However, it is not destroyed after the dialogue got closed. This can be reproduced by adding a singleton class into the `__init__` method of class `SetingsDialog`.

Fix related with this issue will be committed together with other code from #46.

[2018-09-06 07:59] SilverBut commented on #51
Seems a possible solution: https://stackoverflow.com/questions/15674422/unable-to-detect-why-qdialog-is-memory-leaking

[2018-09-06 08:29] SilverBut commented on #51
Nope. Not the source. But fixed:
[code]

[2018-09-06 08:33] NeatMonster commented on #46
You're absolutely right about that. I've always found it difficult to fragment my changes into smaller commits. While fixing a bug, I usually end up finding some new bugs, that I fix immediately. I probably shouldn't do that. I'll try to improve on that, and I think I can use PyCharm to select what changes to commit each time.

Sure, I haven't taken the time to do it, but I definitively will!

Wha

[2018-09-06 09:18] NeatMonster commented on #51
How did you confirm the memory leak? I read the documentation of [`QDialog::close`](http://doc.qt.io/qt-5/qdialog.html#done) and it appears to me that setting the `Qt::WA_DeleteOnClose` flag would be enough. Am I missing something?

[2018-09-06 11:44] SilverBut commented on #51
Open & close the settings menu using a script and monitor the memory usage ;)

[2018-09-06 13:06] SilverBut commented on #46
Yeah I know. I just mean that in case of new contributors break the code style, they should use one single commit for fixing it (like [this](https://github.com/IDArlingTeam/IDArling/pull/52/commits/5fd8e026aa4eeb5fed6891e528be55d18c8f9128)) instead of add a code style commit everytime they added a real commit to the PR.

By the way, PR #52 is added to fix #51 and #46. You can review and merge them

[2018-09-06 18:29] patateqbool opened #54 "NoneType for self._repos"
Traceback (most recent call last):
  File "/home/patate/ida-7.1/plugins/idarling/interface/dialogs.py", line 253, in _new_repo_accepted
    if any(repo.name == name for repo in self._repos):
TypeError: 'NoneType' object is not iterable

This issue can be reproduced by launching a seperated server, connecting to it thanks to auto-discovering, and saving idb to remote server.

[2018-09-06 18:56] #54 closed

[2018-09-06 19:24] patateqbool opened #55 "Bug in painter when pulling an IDB"
[code]

[2018-09-06 19:35] patateqbool commented on #55
Closed by 7f9556cb4a73597201498da2b6ec18883c9d521d

[2018-09-06 19:35] #55 closed

[2018-09-10 16:18] patateqbool opened #56 "Fix user experience broken by local type adding"
The recent addition of local type has disrupted the creation of structure and structure members.
When adding a member to a structure, the structure is automatically collapsed.
A fix is needed.

[2018-09-11 10:56] NeatMonster commented on #51
Sorry for the late reply @SilverBut. I've tested your pull request https://github.com/IDArlingTeam/IDArling/pull/52 but I'm still seeing a memory leak. Even if the dialog is reused, memory usage increases every time I open and close it. In all of my testing, the singleton method appears to be equivalent to using `Qt::WA_DeleteOnClose`.

[2018-09-11 10:58] NeatMonster commented on #50
Another thing I'd like to do is rename "repositories" into "projects" and "branches" into "databases". I think the Git model that inspired us is too far fetched and Solidarity had it right with their naming.

[2018-09-11 18:17] patateqbool opened #57 "Fix user name in navbar & add user name in func view"
Just add nbytes for navbar and hook display hint for functions

[2018-09-11 18:28] SilverBut commented on #46
That is a good idea. We may implement getter & setter methods for each widget so they can be easily resetted by providing a `None` argument.

[2018-09-11 18:34] SilverBut commented on #51
Strange. The commit 2714069 should not create any more setting dialogues and its pages. Maybe it is not the dialog which is created for many times.
I may check it later. Kind of busy recently.

[2018-09-12 04:35] NyaMisty commented on #51
I'm not mean to be offensive, but I wonder why we need to care about things like this?
IDArling and IDA aren't used in a large-scale or long-time running scenario, and memory leak for about several KB or MB or even ~10MB each time opening the settings window is quite acceptable, as no one will repeatedly open and close it.
I think we should focus on other main issues instead of this tiny mysteriou

[2018-09-12 04:38] NyaMisty commented on #56
I'm sorry but I'm a little confused.
Do you mean you created a struct in local types and then adding the member to the structure?

I blindly guess it has something to do with my way to update the typeinfo

[2018-09-12 04:53] patateqbool commented on #56
I c

[2018-09-12 04:56] patateqbool commented on #56
Holly fuck, my phone is terrible, reopening this issue.
I create a structure in the structure view and add a member yes, that's all.
Yes I think also it's about typeinfo updating, but I've had no time to look yet.

[2018-09-12 05:00] patateqbool commented on #51
totally agree, just keep it in a corner of our head for when there will be no way out :)).

[2018-09-12 05:06] NyaMisty commented on #56
In fact I've looked through the SDK doc, and in fact there's several types of structures including mapped/copyof, but I can't find where it is exposed in the SDK :(

[2018-09-12 05:08] NyaMisty commented on #51
But I also suggest that we solve this issue when we already have a pre-release

[2018-09-12 09:55] SilverBut opened #58 "Annoying "Analyzing..." window"
An anonymous user reported this enhancement request.

[2018-09-12 10:13] NyaMisty commented on #58
This is caused by request refresh actions. If the dialog only lasts for a few ms, then human won't even notice it.
But, it will be a disaster when user is open several big functions' pseudo code view in the background.
Currently we are refreshing all related views when a event arrives, no matter whether user is focusing on the tab. This is causing the IDA gets very very slow when events arrived.

[2018-09-12 11:37] NeatMonster commented on #58
A few things that we should look into:

- checking if the pseudo-code view is [`visible`](https://www.hex-rays.com/products/decompiler/manual/sdk/structvdui__t.shtml#a43a01a09a5c33439a43e6dbab2ed2097)
- [`refresh_view`](https://www.hex-rays.com/products/decompiler/manual/sdk/structvdui__t.shtml#a90e071c55e25c1bffcbc76933d156249) takes a boolean, maybe we don't need to set it to true
- maybe we can

[2018-09-12 11:42] NeatMonster opened #59 "Switch to a msgpack-like format"
See pull request https://github.com/IDArlingTeam/IDArling/pull/17 for more information.

As we don't want to use an external dependency, we can implement ourselves the useful bits.

[2018-09-12 12:33] NyaMisty commented on #58
We really should dig deeper into this issue, during the DEFCON, the prompt is really bothering and distracting.

PS: for those two that really tricky, I've only heard that them on update hisory hahaha.

[2018-09-12 19:14] #50 closed

[2018-09-12 19:44] patateqbool commented on #57
Hi guys,

With @NeatMonster we have a dilemma.
Either we show a hint with the name of the user when a cursor is hover by the mouse at the cost of erasing the hint that IDA would display, or we do not display anything and we keep only the native hints of IDA.
What do you think ? @NyaMisty @deactivated @SilverBut

[2018-09-12 20:14] #58 closed

[2018-09-12 21:38] #26 closed

[2018-09-13 03:59] NyaMisty commented on #57
Is that not fixable? Maybe we can contact the HexRays team first and ask if we can display the native hint and custom hint at the same time.

[2018-09-13 07:01] patateqbool commented on #57
It's not. Yeah, I will do it today, the question is about what do we do if they can't fix or provide us a workaround right now ?

[2018-09-14 04:02] NyaMisty commented on #57
I've got a simple idea. We can simply change the user's cursor to an addr other than basic block start.
For example we can use NextAddr(cursor) to avoid overlapping with native hints

[2018-09-14 08:53] patateqbool commented on #56
It seems to be fixed thanks to commit ff87c6539de44bed4e9cfb5eb1f76fc18836ab53, closing this issue.

[2018-09-14 08:53] #56 closed

[2018-09-14 08:54] patateqbool commented on #47
I think we can close this issue, @hacksysteam @NeatMonster @SilverBut ?

[2018-09-15 13:06] NeatMonster commented on #57
@patateqbool I just pushed some event filtering code to add user hints to the functions window. I personally prefer to see IDA hints over user hints, even if that means that won't be able to have them in the disassembly view until IDA offers us a way to get the old hint.

@NyaMisty Not sure what you mean by that. I believe the cursor should be where the user is no matter what. If you're the talkin

[2018-09-16 12:38] patateqbool opened #60 "Renaming a register is not hooked"
We must find a way to hook the renaming of registers

[2018-09-16 14:48] NeatMonster opened #61 "Implement the Secure Remote Password protocol"
The [Secure Remote Password protocol](https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol) provides us with a way to authenticate an user and obtain a shared secret that can be used to encrypt the connection. This would be make all servers (even the integrated one) secure by default without requiring the use of a certificate chain. I'm open to suggestions though...

[2018-09-17 03:51] NyaMisty commented on #57
I mean if we have a cursor pointing to the start of a function, we can instead print it on the next line, which won't affect the user experience in my opinion.

[2018-09-17 06:43] patateqbool commented on #57
As Neat said, I believe the user's cursor must always tell his real position.
What's more, the hints that are displayed by IDA may be outside the beginning of a function, for example IDA displays a hint when using an XMM registry is done.
In my opinion, introducing a position glitch for all instructions or a hint to be displayed is a bug introduction.

[2018-09-17 14:10] NeatMonster commented on #57
@NyaMisty I'm not sure we're on the same page on this issue. Let's consider a "call sub_xxx" instruction in the disassembly view. If you hover over the "sub_xxx" part, you'll see a preview of the function's beginning. Those are the native hints that would be replaced by an user's name if their cursor is on the same instruction. The question isn't really "should we put the cursors elsewhere" but "a

[2018-09-17 18:15] NyaMisty commented on #57
Well I understood in a wrong way. I thought we are discussing the situation of a cursor points to the function start (where the stack Vars are displayed)
If we are discussing the call xxx, then I totally agree with you ;)

[2018-09-18 04:40] patateqbool commented on #57
The initial question was "are we okay with replacing the native hints under those special conditions given that we don't have a way to avoid it", aka when a cursor is on an instructions where a hint can ne displayed (call, XMM, etc...).
What's your opinion on it ? Keep the original hint or replace with the username until the user moves to another instruction ?

Btw, this issue will be closed after

[2018-09-19 06:13] NyaMisty commented on #57
If must one of it, I'll choose to "Keep the original hint"
But, I still wants to preserve both of them, can we achieve it by using some shortcuts? (For example press the Ctrl and Shift will disable our custom hint and show the native hint)

[2018-09-19 08:55] NeatMonster commented on #57
That would work, but I'm not a big fan of this solution.

[2018-09-19 08:57] NyaMisty commented on #57
Haha, I'm a big fan of a HexRays official solution ;)

[2018-09-20 10:27] patateqbool opened #62 "Latency when sending packet"
Some latency is introduced during normal use of the plugin.

It can be seen after a certain period of use that the events received are not those sent.
In addition, if no action is sent on the client side, nothing is received on the server side, however, when an action is performed, the client-side logs indicate sending the right action while an earlier action is received by the server. This bug ma

[2018-09-20 11:18] #57 closed

[2018-09-21 07:32] hacksysteam commented on #47
@patateqbool Sure.

[2018-09-21 07:45] #47 closed

[2018-09-21 17:32] NeatMonster opened #63 "Local type issue (TBI)"

[2018-09-22 17:39] NyaMisty commented on #63
Can we reproduce it on a clean idb? I currently has no access to computers, could you please to help me check it?

[2018-09-24 16:59] patateqbool commented on #60
Now hooked, but buggy :). Fix needed.

[2018-09-24 17:01] patateqbool opened #64 "Hook necessary on Segment Register Value"
This is a crutial hook, especially when a portion of code is not recognized as Thumb mode in ARM for example :). Fix needed.

[2018-09-25 04:12] NyaMisty commented on #63
Reproduced..
When a user changed the local type, the IDA will first delete it, and then re-create it.
First, you missed an + 1 in [events.py#L304](https://github.com/IDArlingTeam/IDArling/blob/master/idarling/core/events.py#L304), that's why the new type aren't synced.
Then you you fixed the struct collpase issue by omitting the del_numbered_type, but doing so will fail when changing the local typ

[2018-09-25 04:15] NyaMisty opened #65 "Add a CI test"
Well, currently we are relying on manually test, and constantly we failed to find a bug caused by several commits earlier. Even the bugfix commits will sometimes breaking the existing functionalities.
Maybe we can have an AppVeyor to check the functionality.

[2018-09-25 04:55] NyaMisty commented on #63
Another bug, you used the tinfo_t.get_numbered_type, but this function will give you a typedef to the target type, instead of the type it self.
We should use the ida_typeinf.get_numbered_type() instead.

[2018-09-25 05:09] NyaMisty commented on #63
But the get_numbered_type aren't usable before 7.0 sp1, and unfortunately I does not have a newer version than 7.0 170914
Here we have two approaches:
1. use the idc_get_local_type_raw, which internally uses get_numbered_type, but it does not gave us the fieldcmt
2. use the ctypes to call the get_numbered_type manually.

[2018-09-25 06:35] NyaMisty commented on #65
We can use AppVeyor if we want a Windows CI worker.

[2018-09-25 08:43] NeatMonster commented on #65
How would you perform the testing? The events are all triggered by some user action, it seems difficult to emulate them. Also, how would you check if the plugin has behaved as expected?

[2018-09-25 12:14] #63 closed

[2018-09-25 12:17] NeatMonster commented on #63
@NyaMisty You were absolutely right. Sadly, even the `set_numbered_type` bindings are broken on the latest version of IDA. So I decided to go the `ctypes` road as you can see in my commit https://github.com/IDArlingTeam/IDArling/commit/f89c83505ab93da391ad9f8cc41365bb0d8930d9.

I'll report it to Hex-Rays so that we can remove this workaround in the future (cc @patateqbool).

[2018-09-26 09:51] patateqbool opened #66 "Ask users before following them"
Some users report us follow mode can be painful for the user followed.
Maybe we can add a demand to follow, or we can add a checkbox to disable cursors in the all views ?
cc @NeatMonster

[2018-09-26 12:13] patateqbool opened #67 "Remove paint from function"
Currently, the painter paints function with the background color, we must remove paint rather than painting with background color when leaving/saving/uploading an idb.

[2018-09-26 13:18] NeatMonster commented on #66
I don't like the idea of asking to an user if (s)he can be followed (it makes no sense to me). But if you want to implement some new settings to disable all the cursors, and to disable the cursors selectively, I'm all for it!

[2018-09-26 13:44] NeatMonster commented on #67
Go go go for a fix @patateqbool!

[2018-09-26 14:48] patateqbool commented on #66
go for it mamène.

[2018-09-26 17:05] #64 closed

[2018-09-30 16:49] #1 closed

[2018-09-30 16:54] XVilka commented on #1
Never expected a different answer.

[2018-09-30 17:00] patateqbool commented on #1
We will accept any PR related to R2, :).

[2018-10-08 11:42] patateqbool commented on #67
Done in branch develop

[2018-10-08 11:42] #67 closed

[2018-10-08 11:43] patateqbool commented on #66
Done in develop branch.

[2018-10-08 11:43] #66 closed

[2018-10-08 18:12] NeatMonster commented on #60
We should keep this issue open to track progress on fixing it properly.

[2018-10-08 18:21] NeatMonster commented on #61
I implemented SRP privately. I've put my implementation on [a Gist](https://gist.github.com/NeatMonster/e2831520369d7338219819eb1afe349e). After toying with it for a bit, and thinking a lot more about it, I realized this isn't the way to go. Two reasons: 1/ we still need to encrypt the packets after obtaining a shared secret, and we would need either to implement AES ourselves, 2/ we have no secur

[2018-10-08 18:21] #61 closed

[2018-10-08 18:24] NeatMonster commented on #59
Here is [my msgpack implementation](https://gist.github.com/NeatMonster/1dfe215abe9fe5efd3c7a3e9e6888e85). I should probably add it to IDArling someday.

[2018-10-08 18:24] NeatMonster commented on #35
"We'll be added in IDA 7.2" - Hex-Rays support

[2018-10-08 18:25] NeatMonster commented on #65
Not too sure where this is going. I'm gonna close the issue to clean up, but feel free to reopen it if you've got more information/a proof of concept.

[2018-10-08 18:25] #65 closed

[2018-10-08 18:26] NeatMonster commented on #46
I believe only splitting the code into smaller files (#38) is still missing. Closing this issue.

[2018-10-08 18:26] #46 closed

[2018-10-08 18:30] patateqbool commented on #60
Yep, this is my (I hope) next task!

[2018-10-08 18:31] NyaMisty commented on #65
Okay, I'm planning to construct it next month.

[2018-10-08 18:35] NeatMonster commented on #45
Our best course of action to provide a reasonably secure-by-default approach is to allow using self-signed certificates. Custom PKIs could be used to verify the dedicated server's certificate, while an auto-generated certificate could be used for the integrated server if we perform some kind of trust-on-first-use.

[2018-10-08 18:38] NeatMonster commented on #44
Once something like [what I mentioned](https://github.com/IDArlingTeam/IDArling/issues/45#issuecomment-427936958) is implemented, a registration and authentication system will be the next logical step.

[2018-10-08 18:40] NeatMonster commented on #9
We've been told by the Hex-Rays support team that all the missing hooks have been implemented into IDA 7.2. I think having our own patching engine is no longer necessary. I'm keeping this issue open to track the progress on implementing those new hooks (when the new version will be out).

[2018-10-08 18:42] NeatMonster commented on #25
I think this issue and #45 have the same end goal. We'll need some kind of mandatory SSL tunnel and some kind of user authentication. I'm closing this issue in favor of the other one (that I have also renamed).

[2018-10-08 18:42] #25 closed

[2018-10-08 18:46] NeatMonster commented on #19
Some resources related to this issue:
- [`flush_buffers`](https://www.hex-rays.com/products/ida/support/sdkdoc/loader_8hpp.html#a0c03c7c9eaaf4e7b45526aa8c205c9a9)
- [williballenthin/python-idb](https://github.com/williballenthin/python-idb)
- [nlitsme/idbutil](https://github.com/nlitsme/idbutil)

[2018-10-08 18:52] patateqbool commented on #19
This is partially unrelated, but we could have a undo button with all these features, I think ?

[2018-10-13 02:56] Bluekezhou opened #71 "structure is not loaded"
I defined two structure which named vm and funclist. First I save it to server, and then loaded from server, however I lost information about funclist ( displayed as ERROR)
![image](https://user-images.githubusercontent.com/7897423/46900550-6f464700-ced6-11e8-9e75-3fd929abcb4d.png)

[2018-10-13 08:33] patateqbool commented on #71
Can you provide us an IDB to reproduce the bug please ? It works for me, maybe the problematic IDB will help.
Thank you for the report !

[2018-10-20 19:45] roblabla opened #72 "Can't select an existing project when saving"
I'm running an IDArling server, and I noticed that it was impossible to save a database to an existing project. Clicking on them does not seem to trigger the `_project_clicked` function. I couldn't figure out the reason behind it.

![unknown](https://user-images.githubusercontent.com/1069318/47259927-ec168980-d4b1-11e8-834f-d199db83ed77.png)

[2018-10-21 08:19] patateqbool commented on #72
Hi, it's the same idb that you're trying to save on a remote project?

[2018-10-21 10:08] roblabla commented on #72
It's an IDB i never uploaded. Can a project not have multiple distinct databases? The fact that each project has a table of databases made me think it was just an organization thing.

[2018-10-21 18:01] patateqbool commented on #72
A project can have multiple versions, just upload one time, then click on the project to upload a new version (database) of this project.
If you really want to open a new project, juste edit the idb name. :)

[2018-10-21 19:02] roblabla commented on #72
I cannot click on the project. Only thing that works is clicking on "Create Project". If I click on any of the existing project (In the screenshot above, Switch300, FW100, w.e.), nothing happens.

I expected the database list to be populated with the db from t hat project, and the Create Database button to become available.

[2018-10-22 18:50] roblabla commented on #72
OK, I think I understand. So a "Project" is tied to a single binary file, but can have multiple IDBs (all of them targeting the same file) ?

[2018-10-23 07:37] patateqbool commented on #72
Yes.

[2018-10-26 08:54] patateqbool commented on #72
Closing this issue, feel free to reopen it @roblabla if you still have questions.

[2018-10-26 08:54] #72 closed

[2018-11-01 09:28] patateqbool opened #73 "Setting compiler (option->compiler) makes IDA crash"
Everything is in title, it was tested without idarling and it works perfectly. We need to figure it out the problem.

[2018-11-08 21:16] patateqbool opened #76 "Add additional binary file"
No hook is provided for that, I don't even know if is possible to hook that kind of thing...
We need to re-think about that.

[2018-11-08 21:20] patateqbool commented on #60
Bindings are broken on IDA 7.1 for func_t.segregs. One way to do that is wrapping regvar_t instances using ctypes and SWiG: https://stackoverflow.com/questions/41193917/python-swig-create-swig-wrapped-instance-from-ctypes-pointer

[2018-11-08 21:21] patateqbool opened #77 "Allow the user to choose the destination folder for files generated by IDArling"
Everything is in title :)

[2018-11-16 11:01] sday15 opened #78 "IDA Crashes when syncing structures"
2 uses are using IDArling to work on a database.

If user A creates or edits any structure (including renaming fields) then the IDA instance for user B will crash.

From turning the server logging level up to DEBUG it looks like the IDA instance crashes either during or after receiving the DefaultEvent packet that contains the full information of all the structures in user A's database.

Here is a

[2018-11-16 12:51] sday15 commented on #78
Update: This only appears to happen one way when user A creates or edits structures in their database. If user B makes the change then this is correctly synced to user A's database and no crash occurs.

[2018-11-17 10:08] patateqbool commented on #78
Hi sday15,
Thanks for the bug report, I'll push a patch during the day, let me know if it's fix your problem please

[2018-11-19 07:48] patateqbool commented on #78
Hi @sday15,
I've tried to fix the bug, unfortunately LocalTypes and user-defined Struct/Enum conflict...
I'm still working on a solution for this issue.

[2018-11-19 09:41] NyaMisty commented on #78
We can try to unhook when one of my them occurred?

patateqbool <notifications@github.com>于2018年11月19日 周一15:48写道：

[2018-11-20 13:44] stevielavern opened #79 "Notepad is not sync'ed"
The content of the "Database Notepad" (View > Open subviews > Notepad) doesn't seem to be synchronized.

Setup:
- IDArling v0.0.1
- IDA Version 7.2.181105 Windows x64 (64-bit address size)

[2018-11-20 13:45] stevielavern opened #80 "Marked locations not sync'ed"
The "Marked Locations" (Ctrl-M / Alt-M shortcuts) do not seem to be synchronized.

Setup:
- IDArling v0.0.1
- IDA Version 7.2.181105 Windows x64 (64-bit address size)

[2018-11-20 13:57] patateqbool commented on #80
Hi @stevielavern,
Yes, we know hook was added in IDA 7.2 after we report lack of this hook in IDA 7.1.
Only header are available for bookmarks, so we have to thing a bit about it, and use ctypes to provide a hook for that in IDA7.1 and use "native" hook on IDA 7.2

Thanks for the report

[2018-11-20 13:58] patateqbool commented on #79
Hi @stevielavern,

I'll take a look soon about that, thanks !

[2018-11-20 14:01] patateqbool commented on #78
Sorry, I'm not sure to understand the sentence correctly, but here is my answer:

When creating a struct/enum in struc/enum view, first a LocalTypesChanged event is sent, then a Struct/enum related event is sent. For the moment, my only idea is to "queue" the LocalTypesChanged event, wait for the next event, if the next event is a Struct/enum related event, drop the LocalTypesChanged event, else s

[2018-11-20 16:36] NyaMisty commented on #78
Yeah, as the Local Types part was first implemented by me, I noticed this
before, and it’s in fact the source of lots of struct issues. I mean that
we can unhook the Struct related hooks and re-enable it afterwards.
Or we can consider simply remove the struct hooks as it’s connected with
local types internally?

patateqbool <notifications@github.com>于2018年11月20日 周二22:01写道：

[2018-11-20 17:36] patateqbool commented on #78
I agree, I'm going to push a fix that disables localTypes tonight until we have a stable fix to integrate them.

[2018-11-26 10:15] sday15 commented on #78
disabling localTypes appears to have fixed the crashing issue.

[2018-11-26 10:18] patateqbool commented on #78
Good to know, I am always looking for a solution to properly integrate localTypes.
Thanks for the feedback :)

[2018-12-10 20:29] #73 closed, assigned to NeatMonster, patateqbool

[2018-12-17 09:40] BrieflyX opened #81 "User Interrupt when running idapython script"
When I executed an idapython script, it poped a warning dialog. Before I clicked on 'OK', the idarling would continuously execute python script and there are always a `Running Python script` above the ida window.

The output windows gives that the eventfilter raises `KeyboardInterrupt: User interrupted` continuously and the whole ida would be pending in `filter.py`. In this case, the only thing I

[2018-12-26 15:45] AntonKukoba1 opened #82 "Big database files are downloaded/uploaded to server very slow"
I have 300 Mb idb file and it takes 15 minutes to uploads to the server. Even if the integrated server is used. This doesn't look like a slow network connection issue. I expect it to upload in 1-2 minutes.
The time of download is the same.

[2018-12-26 15:48] expend20 opened #83 "Huge database is very slow on downloading/uploading"
Had anyone tried to use db with 300mb+? It's taking 10-15mins even with local server.
Are there any chances to improve connection speed?

[2018-12-26 15:57] #83 closed

[2018-12-27 12:32] patateqbool commented on #82
Hi !
I will try this tonight at 35c3.
Thanks for the report.

[2019-01-03 11:31] AntonKukoba1 commented on #82
@patateqbool any news?

[2019-01-03 11:49] patateqbool commented on #82
Hey @AntonKukoba1,
Indeed the upload is really very slow now. I think we broke something during the refactoring 1 month ago.
I will take a closer look tonight, I will update this issue after that.
Sorry for the response time and the inconvenience...

[2019-01-04 10:18] patateqbool commented on #82
So after 2 hours of profiling, I didn't manage to find the exact location for the bug.
Here is the beginning of the generated cprofile:
[code]
I don't see any crazy tottime for the socket part... I have currently no idea what can cause this slowness. @NeatMonster any idea ?

[2019-01-06 10:50] patateqbool commented on #82
Hi again.
I've done better testcases and profiling, here what I have:
I've simply add that in _notify_write:
[code]
The results:
[code]
Pretty damn slow...

So I've done line by line profiling on the function _notify_write, here the results:
[code]
67% is in _check_socket()... Here the _check_socket() profiling:

[code]

I'm still trying to understand the bug...

[2019-01-06 11:40] patateqbool commented on #82
Ok, I finally found the bug:
[code]

Commit f797dcd291e903ef676b6abdac581e13520cb69e should partially fixed the bug, I think there are still some possible optimizations because the end of the upload goes very fast unlike the beginning, and the download is very fast too. I'll give it a shot later during the day.

@AntonKukoba1, can you confirm the optimization?

[2019-01-06 11:56] AntonKukoba1 commented on #82
Nope, it's still 10 minutes to upload to the integrated server

[2019-01-06 17:54] patateqbool commented on #82
Ok, it's consistent with the times I have, it had to be divided by 3.
So, now the download with the integreted server is instant, but the upload is still low.
By monitoring the time [here](https://github.com/IDArlingTeam/IDArling/blob/master/idarling/shared/sockets.py#L262), we have that:
[code]
I do not understand where this difference comes from for now.

[2019-01-08 09:41] Bluekezhou commented on #71
I am sorry I didn't notice your reply, but it may be difficult to to find the original binary right now. To reproduce it, I think you can define two structure (A contains B).

[2019-01-10 05:09] patateqbool commented on #82
Hi @AntonKukoba1,

This issue must now be fixed by the commit d8185bc7e4951c243ba4100aa5fc36bf61da286a.
Can you confirm and close the issue?

Thank you for the bug report.

[2019-01-12 07:50] AntonKukoba1 commented on #82
Yep it became 3 times faster.

[2019-01-12 07:50] #82 closed

[2019-02-02 09:16] cnsheds opened #86 "After opening the IDB, the first call sdk decompile show error"
Exception in IDP Hook function: SWIG director method error. Error detected when calling 'IDP_Hooks.ev_adjust_argloc'
Traceback (most recent call last):
  File "F:\IDA 7.0\python\ida_idp.py", line 1452, in ev_adjust_argloc
    return _ida_idp.IDP_Hooks_ev_adjust_argloc(self, *args)
ValueError: invalid null reference in method 'IDP_Hooks_ev_adjust_argloc', argument 3 of type 'tinfo_t const *'

in ID

[2019-02-02 10:35] NyaMisty opened #87 "Add missing hooks for IDA 7.2"
![image](https://user-images.githubusercontent.com/5344431/52163124-b0c66080-2718-11e9-82aa-f0efe370f5c1.png)
We can see in IDA 7,2, the missing hooks have been exposed, so the issue #9, #80 can be resolved now :)
Maybe we can simply ignore those problems in IDA 7.1 and only supports 7.2 ~~

[2019-02-02 17:14] patateqbool commented on #87
We want to support from the version 7.0, so we need to do both, but yes we have to implement those new features.

[2019-02-02 17:17] patateqbool commented on #86
Thanks for the report, we will take a look soon.

[2019-03-08 10:02] saidelike opened #88 "feature request: allow user to rename a project or database"
Atm if you have a typo in a project name or database name, you can't rename it. Same  if you change your mind on how to name it.

Also because I had started to name my databases "1-whatever", "2-whatever", etc. and i started to have `10-whatever` which is before `2-whatever` because they are sorted by alphabetic order, it is difficult to find the latest database.

![image](https://user-images.gith

[2019-03-08 10:04] saidelike opened #89 "Allow user to delete a project or database"
Friend-issue of https://github.com/IDArlingTeam/IDArling/issues/88

Would be nice to be able to delete a project or database when we think we don't need it to avoid "noise" in the listing.

It could either delete all the entries / databases, etc. from the server side, or just leave them if you think it is better, but would not show them anymore on the user client part.

[2019-03-08 10:11] saidelike opened #90 "feature request: syncing mark pages?"
I wonder if mark pages could be added to idarling syncing (CTRL+M and ALT+M for general usage)

[2019-03-08 10:12] saidelike commented on #90
OK duplicate of https://github.com/IDArlingTeam/IDArling/issues/80, closing, sorry.

[2019-03-08 10:12] #90 closed

[2019-03-08 10:14] saidelike opened #91 "Documentation clarification"
As discussed on IRC, I personally found the naming of project/databases confusing at first. so I propose instead:

* Project: maybe using "File" is better? Dunno, but it corresponds to a unique file hash. Otherwise "Project" is fine
* Database: I think "Snapshot" is better, but is up to you.

Clarifying that any change that does not trigger an event in IDA will not be synced to others, hence why s

[2019-03-08 10:16] saidelike opened #92 "Open from server without closing previous idb crashes IDA"
Consistently if we "open from server" without first closing the IDB (already opened remotely using IDArling), then IDA will crash

[2019-03-19 05:13] DiGMi opened #93 "Debugging cause huge load on other clients"
When starting a debugging session, the other clients get a huge amount of updates causing them to stuck for a while.

[2019-04-07 11:42] arena44 opened #94 "How to generate a certificate for IDArling server and client?"
Hello

I would like to deploy IDArling on one of our servers, I would also like to generate a full security chain, but I don't understand how to generate the ```.pem``` files.

Can any of you give me some hints on how to do it?

Thank you.

[2019-05-17 13:43] Ektoplasma commented on #81
Same issue.
To reproduce:

- File > Script command
- Scripting language: Select Python
- Add prompt function in script body:  AskAddr(0,"TEST")
- Run
- Wait few seconds

![image](https://user-images.githubusercontent.com/15208659/57931702-5319e680-78b9-11e9-850b-9e4a9f60fa05.png)

The bug seems to happen in the [eventFilter function](https://github.com/IDArlingTeam/IDArling/blob/master/idarling/in

[2019-06-22 08:47] bentt6 opened #96 "Big DB Upload/Download failes due to "MemoryError""
I'm working on a very big IDB (~700MB) the server fails to Upload / Download the file it has "MemoryError".  (sockets.py:186 - self._read_buffer.extend(data))
I think that the cause is that all the IDB is sent over a single packet,
(I patched the code locally to split the Upload and Download over multiple packets and it seems to be working)

[2019-08-09 14:07] saidelike opened #97 "OverflowError: Error while calling Python callback <nav_colorizer> with IDA 7.3"
I had this error with IDA 7.3 when loading any idb, as long as IDArling plugin is in the plugins folder even if I don't use IDArling.

![image](https://user-images.githubusercontent.com/387346/62784705-fe9c9680-bab6-11e9-967f-4c19e8d2ffdd.png)

I commented this, which seems to be ok and not creating any issue so in case anyone is annoyed and needs a quick fix.

[code]

There is probably a better w

[2019-10-07 23:41] tmr232 opened #98 "Support IDA 7.4 & Python 3"
With IDA 7.4, the 6.95 backwards compatibility layer is off by default. This will likely cause the plugin to break.
Additionally, IDA 7.4 can use Python 3, and it would be nice to support it as well.

[2019-10-08 05:11] patateqbool commented on #98
Thank you, we will port everything to python3/IDA7.4 as soon as we can.

[2019-10-23 15:51] justMaku commented on #96
Hey there, could you please share the patch you're using?

[2019-12-11 03:23] levoncf opened #100 "Failed to install action OpenAction"
when I import and load this project in IDA PRO 7.0, the IDA console shows me this:

[code]

Any help will be appreciated!

[2019-12-11 06:33] patateqbool commented on #100
Hi there,
Can you please provide us a way to reproduce and debug your issue?

Thank you!

[2019-12-11 07:53] patateqbool commented on #100
I think I missed you point just before.

I just made a fresh install with IDA Pro 7.0 on a Linux, Mac and Windows, by using the easy install described in the README, it seems to work on my side.
You problem seem to come from this line https://github.com/IDArlingTeam/IDArling/blob/master/idarling/interface/actions.py#L78 returning None/False while trying to instantiate the OpenAction action. Can yo

[2020-02-26 12:06] saidelike commented on #92
Not sure if that was fixed in IDArlingTeam version or in the fidgeting version at some point but I don't have this problem anymore with https://github.com/fidgetingbits/IDArling/commit/38e261b357613ec78528044b803ddd5797d700df

[2020-02-26 12:07] saidelike commented on #91
This is done in https://github.com/fidgetingbits/IDArling/

[2020-03-03 17:12] yamashi commented on #86
I am also getting this, do you know what could cause this ? It could help me solve the issue and make a PR.

[2020-03-16 14:02] saidelike commented on #92
It turns out it happens randomly and still happens to me

[2020-03-17 09:22] trou opened #104 "High CPU usage, even without IDB"
Hello,
when I start IDA with IDArling, d63bb7c887be9ca61ff3457eadebfb8ba4bb94ff, CPU usage reaches 100%, even without any IDB loaded.

`perf` reports the following as being the most CPU intensive functions:
[code]

I have done some experiments removing the status bar, but to no avail.

Any idea ?

[2020-03-17 09:28] patateqbool commented on #104
Hi @trou,

We experimented this kind of issue in the past... I thought I fixed it, apparently it was not enough...

I have no idea for the moment, can you indicate me your version of IDA in order to reproduce the bug please?

[2020-03-17 09:31] trou commented on #104
Sure, it's `Version 7.4.191112 Linux x86_64 (32-bit address size)` running python3

[2020-03-17 09:37] patateqbool commented on #104
Thanks.

Regarding Python3 support for IDA 7.4, I do not expect IDArling to work properly.
As we want to support IDA 7.2 for the moment, I haven’t backported changes made by contributors.
It exists a version of IDArling compatible with python3 IDA 7.4 : https://gitlab.com/THUCSTA/IDArlingProject.
This version includes a lot of changes, and I haven’t read the code yet, but it seems pretty good so f

[2020-03-17 09:44] trou commented on #104
I actually started with the fork, which has the same problem. I'm currently trying to pin down the issue and it seems it's the `eventFilter` function in `filter.py` which is the culprit as CPU usage is "normal" when I comment it out.

[2020-03-17 09:46] trou commented on #104
It could be this, more specifically:
[code]

[2020-03-17 09:50] patateqbool commented on #104
Thank you for tracking down the issue.

This functionality is just an easter egg to replace the IDA logo with the IDArling logo. As a quick fix, you can disable it, if you don’t care about the custom logo :).

[2020-03-17 10:08] NeatMonster commented on #104
This is also used for the invites context menu, as mentionned in the docstring.

It makes total sense: the event filter is installed on the main application window, so this function is getting called for every Qt event that is occuring within IDA. Not my brightest idea...

I'm not working on IDArling anymore, but I can offer some alternative ideas:

- For the invite context menu, we can listen to

[2020-03-17 11:01] saidelike commented on #104
When he says the fork, he actually means he used https://github.com/fidgetingbits/IDArling/ afaict.

[2020-03-17 22:14] trou commented on #104
indeed

[2020-03-20 12:35] trou commented on #104
Here's a patch which reduces the CPU usage quite a bit when IDA's idle.
[code]

[2020-03-20 12:41] trou commented on #104
BTW, to check for perf issues, I do:
* use `perf` to check the most CPU intensive functions:
[code]
* use gdb after installing `python3.7-dbg` (debian):
[code]

[2020-03-20 13:39] trou commented on #104
as discussed with @patateqbool and as noted by @NeatMonster, the `eventFilter` should be removed if possible.

[2020-08-05 05:07] assafnativ commented on #104
It's possible to write code that is both Python 2 and 3 at the same time. See this excellent cheat sheet https://python-future.org/compatible_idioms.html

[2021-02-15 17:59] jamescallen246 opened #108 "Will there be a release of IDArling anytime soon?"
As in the title, Will there ever be a release of IDArling as described in the README?

[2021-02-17 18:40] patateqbool commented on #108
Hi there,

Unfortunately the plugin is no longer under active development. I’ve updated the README to point a more up-to-date fork of it and indicates the announced official support of collaborative RE session by IDA team.

Thanks for pointing this out to us!